<%= button_to "New course", new_course_path, :method => "get", class: 'float-right button-outline', style: 'margin:0;' %>


  <p id="notice"><%= notice %></p>
  <h1>Courses</h1>

  <table class="m-10">
    <thead>
      <tr>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <th scope="row">
            <%= course.name %> 
          </th>
          <td><%= course.teacher %> </td>
          <td><%= link_to 'Add comment', new_course_comment_path(course) %></td>
          <!-- <td><%#= link_to 'Show', course, class: 'button button-outline' %></td> -->
          <td><%= link_to 'Edit', edit_course_path(course), class: 'button button-outline' %></td>
          <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %></td>
        </tr>
        <% course.comments.each do |comment| %>
          <tr>
            <td colspan="3">
              <pre>
                <code><%= comment.content %>
                </code>
              </pre>
            </td>
            <td><%= link_to 'Edit', edit_course_comment_path(course, comment), class: 'mt-0' %></td>
            <td><%= link_to 'Destroy', [course, comment], method: :delete, data: {confirm: 'Are you sure?'}, class: 'mt-0' %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  

<br>

