<br>

<b><%= link_to "New course", new_course_path, class: 'float-right yellow-underline', style: 'margin:0' %></b> 

<br>

<p id="notice"><%= notice %></p>


<% @courses.each do |course| %>
  <div class="container lightgrey-border p-10 m-10">

    <div class="row m-10">
      <div class="column">
        <b><%= course.name %></b>  
      </div>
      <div class="column"><%= course.teacher %></div>
      <div class="column column-offset-25"><%= link_to 'Comment', new_course_comment_path(course) %></div>
      <div class="column"><%= link_to 'Edit', edit_course_path(course) %></div>
      <div class="column"><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
    

    <% course.comments.each do |comment| %>
      <div class="row mt-10">
        <div class="column column-70 bg-lightgrey p-10">
          <%= simple_format comment.content %>
        </div>
        <div class="column">
          <% if comment.files.attached? %>
            <% comment.files.each do |file| %>
              <%= link_to file.blob.filename, rails_blob_path(file, disposition: 'attachment') %>

            <% end %>
          <% end %>
        </div>
      </div>
      

      <div class="row">
        <div class="column column-10"><%= link_to 'Edit', edit_course_comment_path(course, comment), class: 'mt-0' %></div>
        <div class="column column-10"><%= link_to 'Destroy', [course, comment], method: :delete, data: {confirm: 'Are you sure?'}, class: 'mt-0' %></div>
      </div>
      
      <br>
      
    <% end %>
  </div>
  <hr>
  <br>
  <br>
  <br>

<% end %>


<br>

