<!DOCTYPE html>
<html>
  <head>
    <title>Iatic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header id="header">
      <div class="innertube">
        <h1><%= link_to 'Documents ISTY', root_path, class: 'awesome-link' %></h1>
      </div>
    </header>
    
    <div id="wrapper">
    
      <main>
        <div id="content">
          <div class="innertube">
            <%= yield %>
          </div>
        </div>
      </main>
      
      <nav id="nav">
        <div class="innertube pt-10">
          <h3>IATIC 3</h3>
          <ul>
            <li><%= link_to 'Notes', notes_path(sector: :iatic3), class: 'thin-link' %></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
            <li><a href="#">Link 5</a></li>
          </ul>
          <h3>IATIC 4</h3>
          <ul>
            <li><%= link_to 'Notes', notes_path(sector: :iatic4), class: 'thin-link' %></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
            <li><a href="#">Link 5</a></li>
          </ul>
          <h3>IATIC 5</h3>
          <ul>
            <li><%= link_to 'Notes', notes_path(sector: :iatic5), class: 'thin-link' %></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
            <li><a href="#">Link 5</a></li>
          </ul>
        </div>
      </nav>
    
    </div>
    
    <footer id="footer">
      <div class="innertube pt-10">
        <p><%= link_to 'GitHub', 'https://github.com/Poulpy' %></p>
      </div>
    </footer>

  </body>
</html>
